custom/gpcommerce/gpintegration/resources/gpintegration/non-prod/CMMConsumerNew.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sap.com/CMMConsumer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMMConsumer" targetNamespace="http://www.sap.com/CMMConsumer/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sap.com/CMMConsumer/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContactRequest" type="tns:Contacts" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContactResponse" type="tns:ContactsResponse" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Contacts">
      	<xsd:sequence>
              <xsd:element type="xsd:string" name="Email" minOccurs="1" maxOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ContactsResponse">
      	<xsd:sequence>
      	<xsd:element type="xsd:string" name="ContactKey" minOccurs="1" maxOccurs="1"></xsd:element>
      	<xsd:element type="xsd:string" name="MKT_Permission" minOccurs="1" maxOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CMMConsumer">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMMConsumerSOAP" type="tns:CMMConsumer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.sap.com/CMMConsumer/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMMConsumer">
    <wsdl:port binding="tns:CMMConsumerSOAP" name="CMMConsumerSOAP">
      <soap:address location="https://e250060-iflmap.hcisbt.us3.hana.ondemand.com/cxf/mktp"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
